<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.CpsXformM2M" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.CpsXformM2M" id="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.CpsXformM2M">
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.hostInstance"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.cps2depTrace"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.applicationInstance"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.appInstanceWithStateMachine"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.state"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.transition"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.action"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.sendAction"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.waitAction"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.actionPair"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.batch.viatra.patterns.reachableHosts"/>
    </group>
  </extension>
</plugin>
