<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated traceability -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.viatra.examples.cps.traceability.presentation.TraceabilityModelWizardID"
            name="%_UI_TraceabilityModelWizard_label"
            class="org.eclipse.viatra.examples.cps.traceability.presentation.TraceabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TraceabilityModelFile.gif">
         <description>%_UI_TraceabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated traceability -->
      <editor
            id="org.eclipse.viatra.examples.cps.traceability.presentation.TraceabilityEditorID"
            name="%_UI_TraceabilityEditor_label"
            icon="icons/full/obj16/TraceabilityModelFile.gif"
            extensions="traceability"
            class="org.eclipse.viatra.examples.cps.traceability.presentation.TraceabilityEditor"
            contributorClass="org.eclipse.viatra.examples.cps.traceability.presentation.TraceabilityActionBarContributor">
      </editor>
   </extension>
</plugin>
