<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.inf.cps.patterns.Goals" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.cps.patterns.Goals" id="hu.bme.mit.inf.cps.patterns.Goals"/>
  </extension>
  <extension id="hu.bme.mit.inf.cps.patterns.Derived" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.cps.patterns.Derived" id="hu.bme.mit.inf.cps.patterns.Derived"/>
  </extension>
  <extension id="hu.bme.mit.inf.cps.patterns.Rules" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.cps.patterns.Rules" id="hu.bme.mit.inf.cps.patterns.Rules"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.inf.cps.patterns.applications" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="CyberPhysicalSystem" feature-name="applications" package-nsUri="org.eclipse.viatra.examples.dse.cps"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.inf.cps.patterns.hosts" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="CyberPhysicalSystem" feature-name="hosts" package-nsUri="org.eclipse.viatra.examples.dse.cps"/>
  </extension>
</plugin>
