<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated deployment -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.viatra.examples.cps.deployment.presentation.DeploymentModelWizardID"
            name="%_UI_DeploymentModelWizard_label"
            class="org.eclipse.viatra.examples.cps.deployment.presentation.DeploymentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DeploymentModelFile.gif">
         <description>%_UI_DeploymentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated deployment -->
      <editor
            id="org.eclipse.viatra.examples.cps.deployment.presentation.DeploymentEditorID"
            name="%_UI_DeploymentEditor_label"
            icon="icons/full/obj16/DeploymentModelFile.gif"
            extensions="deployment"
            class="org.eclipse.viatra.examples.cps.deployment.presentation.DeploymentEditor"
            contributorClass="org.eclipse.viatra.examples.cps.deployment.presentation.DeploymentActionBarContributor">
      </editor>
   </extension>
</plugin>
