<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cps -->
      <package
            uri="org.eclipse.viatra.examples.dse.cps"
            class="org.eclipse.viatra.examples.dse.cps.CpsPackage"
            genModel="model/cps.genmodel"/>
   </extension>

</plugin>
