<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.examples.cps.tests.queries.FlattenedPatternCall" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.tests.queries.FlattenedPatternCall" id="org.eclipse.viatra.examples.cps.tests.queries.FlattenedPatternCall">
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.called"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.callee"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.flattened"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.called2"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.callee2"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.examples.cps.tests.queries.UnnamedVariables" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.tests.queries.UnnamedVariables" id="org.eclipse.viatra.examples.cps.tests.queries.UnnamedVariables">
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hostInstancesTypeWithDefaultRam"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.allVariablesNamed"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.anonymousVariables"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.examples.cps.tests.queries.SimpleCpsQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.tests.queries.SimpleCpsQueries" id="org.eclipse.viatra.examples.cps.tests.queries.SimpleCpsQueries">
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationTypes"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationTypesIdentifiers"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationInstancesIdentifiers"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationInstancesOfApplicationType"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationInstancesOfApplicationTypeIdentifiers"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationTypeWithHostedInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationTypeWithHostedInstanceIdentifiers"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationTypeWithoutHostedInstance"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.applicationTypeWithoutHostedInstanceIdentifiers"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.transitionsOfApplicationType"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.transitionsOfApplicationTypeIdentifiers"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hostInstancesWithZeroTotalRam"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hostInstanceWithAtLeastAsMuchTotalRamAsTotalHdd"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hostInstanceWithPrimeTotalRam"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hasMoreHostedApplicationInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hasTheMostHostedApplicationInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.communicateWith"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.inTheCommunicationChains"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hasMoreCommunicationPartner"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hasTheMostCommunicationPartner"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hostedApplications"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hasMoreHostedApplications"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.hasTheMostHostedApplications"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.finalPattern"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.instances"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.examples.cps.tests.queries.RecursiveQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.tests.queries.RecursiveQueries" id="org.eclipse.viatra.examples.cps.tests.queries.RecursiveQueries">
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.alphabeticallyAfterCommunicationPartner"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.increasingAlphabeticalCommunicationChainRec"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.increasingAlphabeticalCommunicationChainTC"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.communicationPartners"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.communicateWithInstanceOfHostType"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.examples.cps.tests.queries.VariablesEquality" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.tests.queries.VariablesEquality" id="org.eclipse.viatra.examples.cps.tests.queries.VariablesEquality">
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.sameVariables"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.examples.cps.tests.queries.CpsValidationRules" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.tests.queries.CpsValidationRules" id="org.eclipse.viatra.examples.cps.tests.queries.CpsValidationRules">
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.ReachableStates"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.AllReachableStates"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.tests.queries.UnreachableStatesOfStateMachines"/>
    </group>
  </extension>
</plugin>
