<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.gui.tests.queries.ValidationRules" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.gui.tests.queries.ValidationRules" id="org.eclipse.viatra.gui.tests.queries.ValidationRules"/>
  </extension>
</plugin>
