<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.CpsXformM2M" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.CpsXformM2M" id="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.CpsXformM2M">
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.hostInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.appTypes"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.appInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.stateMachines"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.states"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.transitions"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.depApp2depHost"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.depBehavior2depApp"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.state2Statemachine"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.transition2StateMachine"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.sm2Deploymentbehavior"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.transition2AppType"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.cps2depTrace"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.depTransition"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.applicationInstance"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.cpsApplicationTransition"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.sendTransitionAppSignal"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.waitTransitionAppSignal"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.triggerPair"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.communicatingAppInstances"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.hostCommunication"/>
      <query-specification fqn="org.eclipse.viatra.examples.cps.xform.m2m.incr.aggr.queries.reachableHosts"/>
    </group>
  </extension>
</plugin>
